html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title VUVoice
    body
        div#mainDiv
        script.
            window.__PRELOADED_STATE__ = !{state}
        script(src="/js/vendor.js")
        script(src="/js/main.js")